# Limpieza de datos

Abrimos el archivo en un data frame

In [23]:
import pandas as pd

# Lee el archivo txt en un DataFrame
df = pd.read_csv('../Business Context/data.txt')  # Puedes especificar el delimitador segÃºn sea necesario

df

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

### Mostrar duplicados y nulos

In [24]:
def mostrar_duplicados(df):
    """
    Esta funciÃ³n toma un DataFrame de pandas y muestra las filas duplicadas en el DataFrame.
    
    ParÃ¡metros:
        - df: DataFrame de pandas
        
    Retorna:
        - DataFrame que contiene las filas duplicadas en el DataFrame de entrada.
    """
    duplicados = df[df.duplicated(keep=False)]
    return duplicados

def mostrar_valores_nulos(df):
    """
    Esta funciÃ³n toma un DataFrame de pandas y muestra los valores nulos en el DataFrame.
    
    ParÃ¡metros:
        - df: DataFrame de pandas
        
    Retorna:
        - DataFrame que contiene los valores nulos en el DataFrame de entrada.
    """
    valores_nulos = df[df.isnull().any(axis=1)]
    return valores_nulos

p = mostrar_valores_nulos(df)
p

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
6,1/1/2015,Quarter1,finishing,Thursday,2,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.755167
13,1/1/2015,Quarter1,finishing,Thursday,10,0.65,3.94,NaN,960,0,0.0,0,0,8.0,0.705917
14,1/1/2015,Quarter1,finishing,Thursday,8,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.676667
15,1/1/2015,Quarter1,finishing,Thursday,4,0.75,3.94,NaN,2160,0,0.0,0,0,18.0,0.593056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

No hay valores duplicados, hay varios valores nulos en la variable wip: Trabajo en progreso. Incluye la cantidad de elementos sin terminar.

In [25]:
df['wip']

max_wip = df['wip'].max()
print(max_wip)

min_wip = df['wip'].min()
print(min_wip)

23122.0
7.0

Cantidad de departamentos en el modelo

In [26]:

department_values = df['department'].unique()
print(department_values)

department_counts = df['department'].value_counts()
print(department_counts)

['sweing' 'finishing ' 'finishing']
department
sweing        691
finishing     257
finishing     249
Name: count, dtype: int64

se observa que hay finishing esta repetido.

### Departamentos que tienen nulo la variable wip

In [27]:
departamentos_con_nulos = df[df['wip'].isnull()]['department'].unique()
print(departamentos_con_nulos)

departamentos_con_nulos = df[df['wip'].isnull()]['department'].value_counts()
print(departamentos_con_nulos)

['finishing ' 'finishing']
department
finishing     257
finishing     249
Name: count, dtype: int64

los valores nuelos estan en el departamento de finishing

# Se une finishing

In [28]:
df['department'] = df['department'].replace('finishing ', 'finishing')

In [29]:
df["department"].unique()

array(['sweing', 'finishing'], dtype=object)

## Remplazar valores nulos por 0

In [30]:
def reemplazar_nulos(df, valor_reemplazo=0):
    """
    Esta funciÃ³n toma un DataFrame de pandas y reemplaza los valores nulos con un valor especificado.
    
    ParÃ¡metros:
        - df: DataFrame de pandas
        - valor_reemplazo: Valor con el que se reemplazarÃ¡n los valores nulos (por defecto es "N/A")
        
    Retorna:
        - DataFrame con los valores nulos reemplazados.
    """
    df_reemplazado = df.fillna(valor_reemplazo)
    return df_reemplazado

df = reemplazar_nulos(df)

df

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,0.0,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,0.0,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,0.0,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,0.0,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,0.0,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,0.0,720,0,0.0,0,0,6.0,0.394722

se observa si el formato de la fecha esta bien y si como esta formado

In [31]:
import pandas as pd

# Intentar convertir la columna de fecha a un objeto de fecha
try:
    df['date'] = pd.to_datetime(df['date'])
    print("El formato de fecha es correcto.")
except ValueError:
    print("El formato de fecha es incorrecto.")

fecha = df['date'].iloc[0]
if fecha.day < 13:
    formato = "mes-dÃ­a"
else:
    formato = "dÃ­a-mes"
print("El formato de fecha es:", formato)

El formato de fecha es correcto.
El formato de fecha es: mes-dÃ­a

# Descargamos los datos limpios

In [32]:
df.to_csv("datoslimpios.csv")