# Limpieza de datos

Abrimos el archivo en un data frame

In [44]:
import pandas as pd

# Lee el archivo txt en un DataFrame
df = pd.read_csv('../Business Context/data.txt')  # Puedes especificar el delimitador segÃºn sea necesario

df

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

# actual_productivity fuera del rango [0:1]

In [45]:
df[df.actual_productivity >= 1]

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
337,1/20/2015,Quarter3,finishing,Tuesday,5,0.70,4.15,NaN,1440,0,0.0,0,0,8.0,1.033570
437,1/26/2015,Quarter4,finishing,Monday,3,0.75,3.94,NaN,1800,0,0.0,0,0,10.0,1.059621
456,1/27/2015,Quarter4,sweing,Tuesday,2,0.75,22.52,1635.0,6840,119,0.0,0,0,57.0,1.000230
457,1/27/2015,Quarter4,sweing,Tuesday,3,0.75,22.52,1299.0,6840,119,0.0,0,0,57.0,1.000230
477,1/28/2015,Quarter4,sweing,Wednesday,2,0.80,22.52,1559.0,6840,90,0.0,0,0,57.0,1.000230
478,1/28/2015,Quarter4,sweing,Wednesday,3,0.80,22.52,1350.0,6840,113,0.0,0,0,57.0,1.000230
498,1/29/2015,Quarter5,sweing,Thursday,2,0.80,22.52,1416.0,6840,113,0.0,0,0,57.0,1.000230
518,1/31/2015,Quarter5,sweing,Saturday,3,0.80,22.52,1136.0,6960,113,0.0,0,0,58.0,1.000457
519,1/31/2015,Quarter5,sweing,Saturday,2,0.80,22.52,1397.0,6840,113,0.0,0,0,57.0,1.000230
542,2/1/2015,Quarter1,finishing,Sunday,8,0.65,4.15,NaN,960,0,0.0,0,0,8.0,1.011562
543,2/1/2015,Quarter1,sweing,Sunday,2,0.80,22.52,1396.0,6900,113,0.0,0,0,57.5,1.000671
544,2/1/2015,Quarter1,sweing,Sunday,1,0.80,22.94,1582.0,3060,113,0.0,0,0,58.5,1.000402
561,2/2/2015,Quarter1,sweing,Monday,1,0.80,22.94,16882.0,7020,113,0.0,0,0,58.5,1.000602
580,2/3/2015,Quarter1,finishing,Tuesday,2,0.80,3.94,NaN,2400,0,0.0,0,0,20.0,1.001417
581,2/3/2015,Quarter1,sweing,Tuesday,1,0.80,22.52,1500.0,6900,113,0.0,0,0,57.5,1.000019
599,2/4/2015,Quarter1,sweing,Wednesday,2,0.80,22.52,1263.0,6900,100,0.0,0,0,57.5,1.050281
600,2/4/2015,Quarter1,sweing,Wednesday,3,0.80,22.52,968.0,6840,113,0.0,0,0,57.0,1.000230
618,2/5/2015,Quarter1,sweing,Thursday,2,0.80,22.52,1300.0,6780,113,0.0,0,0,56.5,1.000446
619,2/5/2015,Quarter1,sweing,Thursday,1,0.80,22.52,1485.0,6900,113,0.0,0,0,57.5,1.000019
636,2/7/2015,Quarter1,finishing,Saturday,2,0.80,3.94,NaN,3000,0,0.0,0,0,25.0,1.050667
637,2/7/2015,Quarter1,sweing,Saturday,2,0.80,22.52,1186.0,6900,113,0.0,0,0,58.0,1.000019
655,2/8/2015,Quarter2,sweing,Sunday,2,0.80,22.52,1233.0,6900,113,0.0,0,0,57.5,1.000019
674,2/9/2015,Quarter2,finishing,Monday,2,0.80,3.94,NaN,2160,0,0.0,0,0,18.0,1.057963
692,2/10/2015,Quarter2,finishing,Tuesday,12,0.80,4.08,NaN,1080,0,0.0,0,0,9.0,1.004889
711,2/11/2015,Quarter2,finishing,Wednesday,4,0.70,4.15,NaN,1800,0,0.0,0,0,15.0,1.033156
712,2/11/2015,Quarter2,finishing,Wednesday,12,0.80,4.08,NaN,1080,0,0.0,0,0,9.0,1.020000
713,2/11/2015,Quarter2,sweing,Wednesday,2,0.80,22.52,1557.0,0,90,0.0,0,0,57.5,1.000345
714,2/11/2015,Quarter2,sweing,Wednesday,1,0.80,22.52,1498.0,0,113,0.0,0,0,57.0,1.000066
730,2/12/2015,Quarter2,sweing,Thursday,1,0.80,22.52,1397.0,0,138,0.0,0,0,57.0,1.100484
731,2/12/2015,Quarter2,finishing,Thursday,4,0.70,4.15,NaN,1800,0,0.0,0,0,15.0,1.096633
732,2/12/2015,Quarter2,sweing,Thursday,2,0.80,22.52,1327.0,0,113,0.0,0,0,57.5,1.000345
749,2/14/2015,Quarter2,sweing,Saturday,1,0.80,22.52,1416.0,6840,113,0.0,0,0,57.0,1.000230
766,2/15/2015,Quarter3,finishing,Sunday,1,0.80,3.94,NaN,960,0,0.0,0,0,8.0,1.120437
767,2/15/2015,Quarter3,finishing,Sunday,2,0.80,3.94,NaN,960,0,0.0,0,0,8.0,1.108125
768,2/15/2015,Quarter3,sweing,Sunday,1,0.80,22.52,1420.0,6840,113,0.0,0,0,57.0,1.000230
785,2/16/2015,Quarter3,sweing,Monday,1,0.80,22.52,1422.0,6840,113,0.0,0,0,57.0,1.000230
803,2/17/2015,Quarter3,sweing,Tuesday,1,0.80,22.52,1445.0,6840,113,0.0,0,0,57.0,1.000230

## Eliminacion de datos de actual_productivity fuera del rango

In [46]:
df = df[df['actual_productivity'] <= 1]
df

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

In [47]:
df[df.actual_productivity >= 1]

Empty DataFrame
Columns: [date, quarter, department, day, team, targeted_productivity, smv, wip, over_time, incentive, idle_time, idle_men, no_of_style_change, no_of_workers, actual_productivity]
Index: []

### Mostrar duplicados y nulos

In [48]:
def mostrar_duplicados(df):
    """
    Esta funciÃ³n toma un DataFrame de pandas y muestra las filas duplicadas en el DataFrame.
    
    ParÃ¡metros:
        - df: DataFrame de pandas
        
    Retorna:
        - DataFrame que contiene las filas duplicadas en el DataFrame de entrada.
    """
    duplicados = df[df.duplicated(keep=False)]
    return duplicados

def mostrar_valores_nulos(df):
    """
    Esta funciÃ³n toma un DataFrame de pandas y muestra los valores nulos en el DataFrame.
    
    ParÃ¡metros:
        - df: DataFrame de pandas
        
    Retorna:
        - DataFrame que contiene los valores nulos en el DataFrame de entrada.
    """
    valores_nulos = df[df.isnull().any(axis=1)]
    return valores_nulos

p = mostrar_valores_nulos(df)
p

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
6,1/1/2015,Quarter1,finishing,Thursday,2,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.755167
13,1/1/2015,Quarter1,finishing,Thursday,10,0.65,3.94,NaN,960,0,0.0,0,0,8.0,0.705917
14,1/1/2015,Quarter1,finishing,Thursday,8,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.676667
15,1/1/2015,Quarter1,finishing,Thursday,4,0.75,3.94,NaN,2160,0,0.0,0,0,18.0,0.593056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

No hay valores duplicados, hay varios valores nulos en la variable wip: Trabajo en progreso. Incluye la cantidad de elementos sin terminar.

In [49]:
df['wip']

max_wip = df['wip'].max()
print(max_wip)

min_wip = df['wip'].min()
print(min_wip)

23122.0
7.0

Cantidad de departamentos en el modelo

In [50]:

department_values = df['department'].unique()
print(department_values)

department_counts = df['department'].value_counts()
print(department_counts)

['sweing' 'finishing ' 'finishing']
department
sweing        666
finishing     253
finishing     241
Name: count, dtype: int64

se observa que hay finishing esta repetido.

### Departamentos que tienen nulo la variable wip

In [51]:
departamentos_con_nulos = df[df['wip'].isnull()]['department'].unique()
print(departamentos_con_nulos)

departamentos_con_nulos = df[df['wip'].isnull()]['department'].value_counts()
print(departamentos_con_nulos)

['finishing ' 'finishing']
department
finishing     253
finishing     241
Name: count, dtype: int64

los valores nuelos estan en el departamento de finishing

# Se une finishing

In [52]:
df['department'] = df['department'].replace('finishing ', 'finishing')

C:\Users\hfons\AppData\Local\Temp\ipykernel_12012\2168790283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['department'] = df['department'].replace('finishing ', 'finishing')

In [53]:
df["department"].unique()

array(['sweing', 'finishing'], dtype=object)

## Remplazar valores nulos por 0

In [54]:
def reemplazar_nulos(df, valor_reemplazo=0):
    """
    Esta funciÃ³n toma un DataFrame de pandas y reemplaza los valores nulos con un valor especificado.
    
    ParÃ¡metros:
        - df: DataFrame de pandas
        - valor_reemplazo: Valor con el que se reemplazarÃ¡n los valores nulos (por defecto es "N/A")
        
    Retorna:
        - DataFrame con los valores nulos reemplazados.
    """
    df_reemplazado = df.fillna(valor_reemplazo)
    return df_reemplazado

df = reemplazar_nulos(df)

df.count()

date                     1160
quarter                  1160
department               1160
day                      1160
team                     1160
targeted_productivity    1160
smv                      1160
wip                      1160
over_time                1160
incentive                1160
idle_time                1160
idle_men                 1160
no_of_style_change       1160
no_of_workers            1160
actual_productivity      1160
dtype: int64

se observa si el formato de la fecha esta bien y si como esta formado

In [55]:
import pandas as pd

# Intentar convertir la columna de fecha a un objeto de fecha
try:
    df['date'] = pd.to_datetime(df['date'])
    print("El formato de fecha es correcto.")
except ValueError:
    print("El formato de fecha es incorrecto.")

fecha = df['date'].iloc[0]
if fecha.day < 13:
    formato = "mes-dÃ­a"
else:
    formato = "dÃ­a-mes"
print("El formato de fecha es:", formato)

El formato de fecha es correcto.
El formato de fecha es: mes-dÃ­a

## Datos atipicos de "incentive"

In [56]:
df = df[df['incentive'] <= 130]
df.count()

date                     1150
quarter                  1150
department               1150
day                      1150
team                     1150
targeted_productivity    1150
smv                      1150
wip                      1150
over_time                1150
incentive                1150
idle_time                1150
idle_men                 1150
no_of_style_change       1150
no_of_workers            1150
actual_productivity      1150
dtype: int64

# Descargamos los datos limpios

In [57]:
df.to_csv("datoslimpios.csv", index=False)